* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(184deg, rgba(95,50,163,1) 0%, rgba(18,1,66,1) 100%);
}
.purple-rectangle {
    position: absolute;
    transform: rotate(-34.049deg); 
    background-color: #5F32A3;
    width: 100%;
    height: 665.076px; 
    top: 40%;
    z-index: -1;
    overflow-x: auto;
    white-space: nowrap;
}

.container {
    max-width: 85%;
    height: 100vh;
    padding: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-background{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
}
img.google-img{
    width: 28px; 
    height: 28px;
    margin-left: 5px;
}
a.google{
    border: 1px solid #151618;
}
a.google span{
    color: var(--151618, #151618);
    font-family: Vazir;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-variant: all-small-caps;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0 50px;
    background-color: #d4d4d4;
}
.line::before{
    content: 'یا';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: black;
    padding: 0 40px;
}
.form {
    display: flex;
    flex-direction: column; 
    border-radius: 8px;
    border: 1px solid #C9CBD1;
    background: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: right; 
    max-width: 540px;
}
.form-content {
    padding: 40px; 
}
.form_login {
    color: black;
    border-radius: 4px; 
}
.form header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.field {
    margin-bottom: 15px;
}
.field input {
    width: 100%;
    border: 1px solid #C9CBD1;
    border-radius: 5px;
    direction: rtl;
    height: 56px;
    padding: 15px;
    width: 352px;
}
.field label {
    direction: rtl;
    padding: 20px;
}
.form-link {
    font-size: 14px;
}
.login-link {
    font-weight: bold;
    color: #41444B; 
    text-decoration: none;
}
.button-field button {
    background-color: #5F32A3;
    color: white;
    width: 100%;
    height: 56px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 23px;
    font-size: 14px;
    width: 352px;
}
.button-field button:hover {
    background-color: #682773;
}
.text {
    direction: rtl;
    margin-left: 200px;
}
.text h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: right;
}
.text h2 {
    text-align: right;
    margin-top: 20px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: lighter;
    margin-top: 50px;
}
body, h1, h2, p, .form, .form-content, .form_login, .form header, .field input, .field label, .button-field button, .text, .text h1, .text h2 {
    font-family: 'Vazir', sans-serif;
}
@font-face {
    font-family: 'Vazir'; 
    src: url(../fonts/Vazir-Regular.woff) format('woff'), 
         url(../fonts/Vazir-Regular.woff2) format('woff2');
}