@font-face {
    font-family: vazir-bold;
    src: url(../fonts/Vazir-Bold.woff2);
}

@font-face {
    font-family: worksans-semibold;
    src: url(../fonts/WorkSans-SemiBold.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');
:root{
    font-size: 16px;
    --hour: 46.45px;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
}

.container{
    font-family: "vazir-bold";
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 22rem;
}

.container-title-container{
    text-align: center;
}

.container-title{
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    background-color: #5F32A3;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
}

.container-blocks{
    display: flex;
    max-width: 80rem;
    min-height: 16rem;
    background-color: #F8F8F8;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    justify-content: space-evenly;
    padding: 2rem 0rem;
    position: relative;
}

.container-block{
    min-width: 12.5rem;
    min-height: 15rem;
    justify-content: space-evenly;
    border: 1px solid black;    
}

.container-block:hover{
    
}

.container-block__1{
    background: linear-gradient(111deg, rgba(237,69,95,1) 0%, rgba(237,69,95,0.6587885154061625) 100%);
    border-color: #CD5266;
    visibility: visible;
    position: relative;
}

.container-block__2{
    background: linear-gradient(111deg, rgba(167,106,176,1) 0%, rgba(167,106,176,0.6587885154061625) 100%);
    border-color: #9E6FA5;
    visibility: visible;
    position: relative;
}

.container-block__3{
    background: linear-gradient(111deg, rgba(37,189,122,1) 0%, rgba(37,189,122,0.6587885154061625) 100%);
    border-color: #25BD7A;
    visibility: visible;
    position: relative;
}

.container-block__4{
    background: linear-gradient(111deg, rgba(247,142,37,1) 0%, rgba(247,142,37,0.6587885154061625) 100%);
    border-color: #F07F0D;
    visibility: hidden;
    position: relative;
}

.container-block__5{
    background: linear-gradient(111deg, rgba(13,164,180,1) 0%, rgba(13,164,180,0.6587885154061625) 100%);
    border-color: #0DA4B4;
    visibility: visible;
    position: relative;
}

.container-block__add{
    min-width: 12.5rem;
    min-height: 15rem;
    justify-content: space-evenly;
    border: 1px solid black;    
    background-color: #5980E8;
    opacity: 25%;
    border-color: #3761D2;
    visibility: visible;
}

.container-block-svg{

}

.container-block__title{

}

.negative{
    width: 3.5rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F44336;
    border-radius: 0.5rem;
    position: absolute;
    right: 0.8rem;
    top: 1rem;
    visibility: hidden;
}

.container-block__negative{
    display: inline;
}

.container-table{
    margin-top: 7rem;
    
}

.container-table__today{
    display: flex;
}

.container-table__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7rem;
    min-height: 6rem;
    background-color: #F2F2F2;
    border: 1px solid #d9d9d9;
}

.container-table__todayTime{
    display: inline-block;
    font-family: worksans-semibold;
    font-weight: 900;

}

.container-table__todayDate{
    display: inline-block;
    font-size: 3rem;
    color: #5F32A3;
}

.container-table__details{
    margin-left: 2rem;
    width: 100%;
    min-height: 6rem;
    background-color: #F2F2F2;
    border: 1px solid #d9d9d9;
    display: flex;
    justify-content: flex-start;
    position: relative;
    justify-content: space-around;
    align-items: center;
}
.container-table__details>div{
    width: 100px !important;
    height: 100% !important;
    
}

.container-table__detail__1{
    width: calc(var(--hour) * 3);
    background: linear-gradient(111deg, rgba(237,69,95,1) 0%, rgba(237,69,95,0.6587885154061625) 100%);
    border-color: #CD5266;
}

.container-table__other{
    
}
/* HEADERS STYLE *//* HEADERS STYLE */
    header{
        width: 100%;
        height: 70px;
        border-bottom: 1px solid black;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        position: absolute;
        top: 0;
    }
    header a{
        color: rgba(0, 0, 0, 0.479);
        text-decoration: none;
        font-family: 'Cairo', sans-serif !important;
        font-family: 'Cairo', sans-serif;
        font-family: 'Righteous', cursive;
        display: inline-block;
        position: relative;
    }
    .list-nav-panel{
        width: 60%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.2rem;
        flex-direction: row-reverse;
        list-style-type: none;
      
    }
    header a::after{
        content: '';
        width: 0;
        height: 0.5px;
        position: absolute;
        top:22px;
        right: 0;
        background-color: rgba(0, 0, 0, 0.579);
        transition: .2s all ease-in-out;
    }
    header a:hover{
        color: black;
    }
    header a:hover::after{
        width: 100%;
    }
    
    #menu_icon{
        display: none;
    }
    .make-nav-fix{
        display: none;
    }
    #make-nav-fix{
        width: 100%;
        height: 100vh;
        background-color: rgba(102, 51, 153, 0.449);
        position: fixed;
        position: absolute;
        top: 0;
        z-index: 999999999999990;
        display: none;
        
    }
    .active_menu{
        display: block !important;
    }
    @media screen and (max-width:1000px){
        header{
            flex-direction: column-reverse;
            position: relative;
            
            background-color: white !important;
        }
        #menu_icon{
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            cursor: pointer;
          
            
        }
        .list-nav-panel{
           width: 100%;
           position: absolute;
           height: 250px;
           top: 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;  
            background-color: rgb(255, 255, 255);
            color: white !important;
            z-index: 999999;
            margin: 0 !important;
            border-bottom: 2px solid black;
            padding: 100px;
            transform: translateY(-500px);
            transition: .4s all ease-in-out;
            z-index: 99999999999999999999999999999999999999999 !important;
            
        }
        .list-nav-panel a{
            margin-top: 15px !important;
        }
        
        .active1{
            transform: translateY(0PX);   
        }
       
       
    
    }
    .make-panel-inside{
        min-width: 150px !important;
        min-height: 10px !important;
        background-color: rgb(80, 192, 10);
        
        position: fixed;
        
    }
/* HEADERS STYLE *//* HEADERS STYLE */