* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}